  <div class="hero-body is-medium is-info">
            <div class="container has-text-centered is-warning">
                <h1 class="title has-text-danger ">Error 404</h1>
				<h2 class="subtitle has-text-warning">Page Not Found!</h2>
				<h3 class="subtitle has-text-dark">Go to <a href="/home">Home</a></h3>
      </div>
  </div>