 <div class="login-form">
     <h1>Instassist</h1>
     <div class="form-group ">
      <h3>Yay! All {{total}} pending requests were accepted.</h3> 
     </div><br>
    <a href="/"><button type="button" class="log-btn" >Go to Homepage</button></a>  

   </div>