<div class="hero-body has-background-dark">
            <div class="container has-text-centered">
                <div class="column is-4  is-offset-4">
                    <div class="box has-background-primary">
                         <label style="font-size: 22px; color:black">
                        Email us at: 
                         </label>
                         <br>
                         <label style="font-size: 18px; color:green">
                             <hr>
                                <ul>
                                    <li>instassistofficial@gmail.com</li>
                                <div class="is-divider" data-content="OR"></div>
                                    <li>shuhulkaul22@gmail.com</li>
                                </ul>
                         </label>
                    </div>
                </div>
            </div>
</div>
            