<div class="hero-body has-background-grey-dark">
      <div class="container is-centered">
                <div class="box has-background-white">
                    <article class="media">
                        <div class="media-left">
                            <label style="font-size: 52px">Q1.</label>
                        </div>
                        <div class="media-content">
                        <div class="content">
                            <p>
                                <h2 class="title">I am unable to Login even with a Subscription?</h2>
                                <h4 class="subtitle">If you are unable to login kindly Turn-Off the 2 factor authentication & if the Instassist prompts you for "This was me authentication" then kindly Open your Instagram page and click This was me & then headover to website and login again.</h4>
                             <br>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                            </div>
                        </nav>
                        </div>
                    
                    </article>
                    </div>
                    <div class="box has-background-white">
                    <article class="media">
                        <div class="media-left">
                            <label style="font-size: 52px">Q2.</label>
                        </div>
                        <div class="media-content">
                        <div class="content">
                            <p>
                                <h2 class="title">How many requests can I accept in one go?</h2>
                                <h4 class="subtitle">You can accept 10k Request per 75 minutes.</h4>
                             <br>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                            </div>
                        </nav>
                        </div>
                    </article>
                    </div>
                    <div class="box has-background-white">
                    <article class="media">
                        <div class="media-left">
                            <label style="font-size: 52px">Q3.</label>
                        </div>
                        <div class="media-content">
                        <div class="content">
                            <p>
                                <h2 class="title">What if I started accepting the requests and I want to stop accepting them in between?</h2>
                                <h4 class="subtitle">Be careful when you select the number of requests you accept since you CAN NOT STOP the accepting process in between. ( PS: We are working on this feature and will bring it soon. )</h4>
                             <br>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                            </div>
                        </nav>
                        </div>
                    </article>
                    </div><div class="box has-background-white">
                    <article class="media">
                        <div class="media-left">
                            <label style="font-size: 52px">Q4.</label>
                        </div>
                        <div class="media-content">
                        <div class="content">
                            <p>
                                <h2 class="title">Instagram shows "Couldn’t refresh feed" when I open my page after accepting requests?</h2>
                                <h4 class="subtitle">We know the importance of your account but because it is an automatic process and a bit faster so it might be possible that instagram may detect an unusual/suspicious activity which eventually freezes your account. Don’t worry you account will be normal in 10-60 minutes. Chances of this happening is 0.1% but still at Instassist we care and love your account so it’s better you know everything!</h4>
                             <br>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                            </div>
                        </nav>
                        </div>
                    
                    </article></div>
                    <div class="box has-background-white">
                    <article class="media">
                        <div class="media-left">
                            <label style="font-size: 52px">Q5.</label>
                        </div>
                        <div class="media-content">
                        <div class="content">
                            <p>
                                <h2 class="title">Is my password saved when i Login or Logout?</h2>
                                <h4 class="subtitle">We don’t save your passwords and you can easily get to know because each and every time you wish to accept your request you need to login again. To make it more secure once you accept your desired number of requests you are automatically logged out within couple of seconds.</h4>
                             <br>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                            </div>
                        </nav>
                        </div>
                    </article></div>
                    <div class="box has-background-white">
                    <article class="media">
                        <div class="media-left">
                            <label style="font-size: 52px">Q6.</label>
                        </div>
                        <div class="media-content">
                        <div class="content">
                            <p>
                                <h2 class="title">Can Instassist accept all request automatically by itself after specific interval of time?</h2>
                                <h4 class="subtitle">We at Instassist love your account more than you and for such a automatic process your account have to be logged in until all the pending requests are accepted. Since keeping your account safe & sound is our number one priority its better you login each time you wish to accept your requests. But still, We are working on this to provide you this feature without risking your security. </h4>
                             <br>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                            </div>
                        </nav>
                        </div>
                    </article>
                    </div>
                </div>
        </div>  
</div>
