
  <div class="login-form">
     <h1>Instassist 3 [BETA]</h1>
     <div class="form-group ">
       <form class="form-basic"  method="post">
       <input type="text" class="form-control" placeholder="Instagram Username " name="username" id="username">
       <i class="fa fa-user"></i>
     </div>
     <div class="form-group log-status">
       <input type="password" class="form-control" placeholder="Instagram Password" name="password" id="password">
       <i class="fa fa-lock"></i>
     </div>
     <button type="submit" 
     class="log-btn" value="scan" formaction="/login/scan" >Scan All</button>
     <br>
     <br>
    <button type="submit" 
     class="log-btn" value="accept" formaction="/login/accept" >Accept All</button>
     </form>
   </div>