{{#if success}}
 <section class="hero is-medium is-success is-bold">
      <div class="columns is-mobile">
          <div class="column">
             <div class="container has-text-white has-text-centered"> 
           <strong>Your transaction is complete!</strong>   
           <br>
             </div>  
          </div>
      </div>  
      </section>
 {{/if}}
{{#if nosub}}
 <section class="hero is-medium is-warning is-bold">
      <div class="columns is-mobile">
          <div class="column">
             <div class="container has-text-danger has-text-centered"> 
           <strong>Please subscribe first!</strong>   
           <br>
             </div>  
          </div>
      </div>  
      </section>
 {{/if}}
 {{#if errors}}
             {{#each errors}}
 <section class="hero is-medium is-warning is-bold">
      <div class="columns is-mobile">
          <div class="column">
             <div class="container has-text-danger has-text-centered"> 
           <strong>{{msg}}</strong>   
           <br>
             </div>  
          </div>
      </div>  
      </section>
            {{/each}}
{{/if}}
 <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4  is-offset-4">
                    <div class="box has-background-grey-dark">
                    <h3 class="title has-text-danger">Instagram Login</h3>
                    <h4 class="subtitle has-text-white">Please login to proceed.</h4>
                        <form method="post" action="/authentication/login">
{{!-- here --}}
                            <br>
                            <button class="button is-rounded is-outlined is-danger is-medium is-fullwidth ">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>