</script>
<div class="hero-body has-background-grey-dark">
      <div class="container is-centered">
                <div class="box has-background-white">
                <article class="media">
                    <div class="media-left">
                        <label style="font-size: 52px">1</label>
                    </div>
                    <div class="media-content">
                    <div class="content">
                        <p>
                        <label style="font-size: 38px; color:green">₹ 150</label> <br> <strong>10K Accepts</strong> <br> <strong>Validity : 20 Days</strong>
                        <br>
                        <ul>
                            <li>This plan will end in 20 Days.</li>
                            <li> Every plan can be used on a unique Instagram account.</li>
                            <li>Change in plan will upgrade the old plan.</li>
                        </ul>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                        </div>
                    </nav>
                    </div>
                    <div class="media-right">
                      <a data-select="1" href="/subscribe#sub"><button class="button is-link are-large">Buy Now</button></a> <br><hr>
                      <strong><label style="font-size:14px; color:red">Non - Upgradable Plan</label></strong><hr>
                      <label style="font-size:8px; color:red">This plan can not be added on to another plan.</label>
                    </div>
                </article>
                </div>
                <div class="box has-background-white">
                <article class="media">
                    <div class="media-left">
                        <label style="font-size: 52px">2</label>
                    </div>
                    <div class="media-content">
                    <div class="content">
                        <p>
                        <label style="font-size: 38px; color:green">₹ 450</label> <br> <strong>35K Accepts</strong> <br> <strong>Validity : 30 Days</strong>
                        <br>
                        <ul>
                            <li>This plan will end in 30 Days.</li>
                            <li> Every plan can be used on a unique Instagram account.</li>
                            <li>Change in plan will upgrade the old plan.</li>
                        </ul>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                        </div>
                    </nav>
                    </div>
                    <div class="media-right">
                       <a data-select="2" href="/subscribe#sub"><button class="button is-link are-large">Buy Now</button></a> <br><hr> 
                       <strong><label style="font-size:14px; color:green">Upgradable Plan</label></strong><hr>
                    </div>
                </article>
                </div>
                <div class="box has-background-white">
                <article class="media">
                    <div class="media-left">
                        <label style="font-size: 52px">3</label>
                    </div>
                    <div class="media-content">
                    <div class="content">
                        <p>
                        <label style="font-size: 38px; color:green">₹ 800</label> <br> <strong>65K Accepts</strong> <br> <strong>Validity : 30 Days</strong>
                        <br>
                        <ul>
                            <li>This plan will end in 30 Days.</li>
                            <li> Every plan can be used on a unique Instagram account.</li>
                            <li>Change in plan will upgrade the old plan.</li>
                        </ul>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                        </div>
                    </nav>
                    </div>
                    <div class="media-right">
                       <a data-select="3" href="/subscribe#sub"><button class="button is-link are-large">Buy Now</button></a><br><hr>
                       <strong><label style="font-size:14px; color:green">Upgradable Plan</label></strong>  <hr>
                    </div>
                </article>
                </div>
                <div class="box has-background-white">
                <article class="media">
                    <div class="media-left">
                        <label style="font-size: 52px">4</label>
                    </div>
                    <div class="media-content">
                    <div class="content">
                        <p>
                        <label style="font-size: 38px; color:green">₹ 1500</label> <br> <strong>Unlimited Accepts</strong> <br> <strong>Validity : 30 Days</strong>
                        <br>
                        <ul>
                            <li>This plan will end in 30 Days.</li>
                            <li>Every plan can be used on a unique Instagram account.</li>
                            <li>Change in plan will upgrade the old plan.</li>
                        </ul>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                        </div>
                    </nav>
                    </div>
                    <div class="media-right">
                       <a data-select="4" href="/subscribe#sub"> <button class="button is-link are-large">Buy Now</button></a>
                       <br>
                       <strong><label style="font-size:14px; color:red">Non - Upgradable Plan</label></strong><hr>
                      <label style="font-size:8px; color:red">This plan can not be added on to another plan.</label>
                    </div>
                </article>
                </div>
        </div>
        
</div>
