 <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4  is-offset-4">
                    <div class="box has-background-white">
                    <h3 class="title has-text-dark">Terms and Conditions</h3>
                    <hr>
                    
                    <ol class="menu-listlevel-left">
                        <li>The subscription is done using the Instamojo portal. </li>
                        <li>The money will not be refunded under any circumstances.</li>
                        <li>The subscription will not be cancelled and will expire only when the time period is over.</li>
                        <li>For any issues, email us at instassistofficial@gmail.com.</li>
                    </ol>
                 
                    <hr>
                    <a href="/subscribe">Subscribe Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>